/* .last .card-view:hover{
    box-shadow: none !important;
} */
/* .aa{
    text-align: start;
    font-weight: 500;
} */
/* .btn-info{
    padding-right: 2rem;
    padding-left: 2rem;
} */
/* .card-view ::-webkit-scrollbar{
    width: 4px;
}
.card-view ::-webkit-scrollbar-thumb {
    background-color: #77c6ea;
    border-radius:8px ;
    -webkit-border-radius:8px ;
    -moz-border-radius:8px ;
    -ms-border-radius:8px ;
    -o-border-radius:8px ;
} */